.all {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.mission {
  padding: 10px 10px;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.mission h4 {
  padding: 15px 10px;
  font-size: 22px;
  text-align: center;
  color: #0d367e;
  font-family: Garamond;
  text-transform: capitalize;
}

.mission p {
  font-size: 20px;
  color: #000;
  text-align: left;
  font-family: Garamond;
  padding: 5px;
  margin: 3px;
}
.mission ul {
  list-style-type: none;
}
.mission ul li {
  font-size: 20px;
  color: #000;
  text-align: left;
  font-family: Garamond;
  padding: 5px;
  margin: 3px;
  margin-left: 10px;
}
.mission ul li::before {
  content: "➤";
  padding-right: 10px;
}
